#code{
    width: 100%;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    resize: none;
}

#result{
    width: 100%;
    min-height: 20vh;
    margin-bottom: 100px;
}

.container {
    resize: vertical; 
    overflow: auto;
}